%ul.contests-grid.cf
  - contests.each do |contest|
    %li
      .contest
        = link_to contest.title, contest_path(contest), class: 'title'
        .contest_footer.cf
          %span.glyphicon.building
          = link_to contest.grant_operator.title
