= title t('helpers.logic.helps')
- model_class = Help
.page-header
  %h1=t '.title'
.row-fluid
  .span3
    %ul.nav.nav-pills.nav-stacked.helps_nav
      != helps_links(@helps)
  .span9
    != @help.body
