.container
  text-align: center
.content
  width: 1200px
.case_icon
  background-image: url("/assets/case.png")
  width: 64px
  height: 64px
.admin_container
  margin: 15px
input[type="text"]
  padding-top: 15px
  padding-bottom: 15px
textarea
  height: 150px
  &:focus
    height: 300px
.additional_buttons
  margin-top: 15px
.navbar
  margin-bottom: 0px
.form
  width: 60%
.btn-file
  position: relative
  overflow: hidden
.btn-file input[type=file]
  position: absolute
  top: 0
  right: 0
  min-width: 100%
  min-height: 100%
  font-size: 100px
  text-align: right
  filter: alpha(opacity=0)
  opacity: 0
  outline: none
  background: white
  cursor: inherit
  display: block
