.container

  text-align: center
.content
  width: 1200px
.case_icon
  background-image: url("/assets/case.png")
  width: 64px
  height: 64px
.admin_container
  margin: 15px
input[type="text"]
  padding-top: 15px
  padding-bottom: 15px
textarea
  height: 150px
  &:focus
    height: 300px
.additional_buttons
  margin-top: 15px
