body
  background: #fafafa
.link_button
  text-decoration: none !important
  color: black !important
.contest_cell
  width: auto
  height: 250px
  border: 1px solid grey
  margin-bottom: 20px
  padding-right: 10px
  padding-left: 10px
  background-color: lightgrey
  .contest_cell_title
    height: 50px
    cursor: pointer
    &:hover
      background-color: darkgrey
  .contest_cell_description
    border-top: 1px solid grey
    padding-top: 10px
    height: 140px
  .contest_cell_operator
    text-align: left
    border-top: 1px solid grey
    height: 30px
    cursor: pointer
    &:hover
      background-color: darkgrey
