body
  background: #fafafa
.link_button
  text-decoration: none !important
  color: black !important
.contest_cell
  width: auto
  height: 304px
  border: 1px solid grey
  margin-bottom: 20px
  background-color: lightgrey
  .contest_cell_title
    display: inline-block
    height: 75px
    width: 100%
    cursor: pointer
    text-align: center
    &:hover
      background-color: darkgrey
    .text
      margin-left: 10px
      margin-right: 10px
      height: 75px
      width: 1%
      display: table-cell
      vertical-align: middle
  .contest_cell_description
    text-align: justify
    border-top: 1px solid grey
    padding-top: 10px
    height: 160px
    padding-left: 10px
    padding-right: 10px
  .contest_cell_operator
    text-align: left
    border-top: 1px solid grey
    height: 55px
    cursor: pointer
    &:hover
      background-color: darkgrey
    .text
      margin-left: 10px
      margin-right: 10px
