.contests-grid
  background-color: #E6E6E6
  padding-left: 0px
  li
    position: relative
    width: 18%
    padding: 2%
    margin: 1%
    height: 255px
    float: left
    background: #fff
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05)
    &.date
    .title
      font-size: 1.2em
      line-height: 1.8em
      color: blue
      display: block
      height: 160px
      margin-bottom: 30px
      overflow: hidden
      &:hover
        color: black
    .contest_footer
      font-size: 12px
.contest_content,
.grant_operator_info
  background-color: #e6e6e6
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05)
  text-align: left
  padding-left: 10px
  padding-right: 10px
  padding-top: 10px
  padding-bottom: 10px
  h4
    margin-top: 0px
.grant_operator_info
  width: 100%
  float: left
  margin-top: 15px
  h4
    margin-top: 4px
  a
    color: black
  .grant_operator_info_title
    float: left
    width: 80%
  .grant_operator_info_stat
    float: left
    width: 20%
    text-align: right
    margin-top: 4px
    span
      float: none
    h4
      float: right
      font-size: 16pt
      font-weight: bold
      margin-top: 0px
      margin-left: 3px
.nav
  li
    &.date
      border-left: 1px solid #e6e6e6
      width: 135px
    &.date,
    &.link
      width: 150px
      padding-left: 15px
      height: 31px
      .date-text
        margin-top: 7px
      a
        padding-left: 15px
        padding-right: 15px
