= stylesheet_link_tag    "application", media: "all"

.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path }
      = t('helpers.project_name')
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav.navbar-right
      - if signed_in? and current_user.role.admin?
        %li= link_to t('admin.panel'), admin_path
        %li= link_to t('helpers.sign_out'), session_path, method: :delete
